<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/home">User<span> Dashoard</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-trial" href="#!/profile">Back</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <ul class="list-group col-sm-4">
                <li class="list-group-item">
                    <a href="#!/questionList">Question List</a>
                </li>
                <li class="list-group-item">
                    <a href="#!/paperList">Paper List</a>
                </li>
            </ul>
        </div>
    </div>
</section>