<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/home">Profile<span> Panel</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-trial" ng-click="model.updateUser(model.user)">Update</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="container-fluid">
        <a href="#!/home" class="navbar-brand cl-text-white cl-text-bold">
            <span class="glyphicon glyphicon-chevron-left"> ProfilePanel</span>
        </a>
        <a ng-click="model.updateUser(model.user)"
           class="navbar-link navbar-text cl-text-white pull-right cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>-->

<section class="section-padding">
<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <div ng-show="model.updated" class="alert alert-success" role="alert">{{model.updated}}</div>
    <form class="cl-form-bottom-padding">
        <label for="username">Username</label>
        <input ng-model="model.user.username"
               type="text"
               class="form-control"
               placeholder="Username"
               id="username" readonly>
        <label for="email">Email</label>
        <input ng-model="model.user.email"
               type="email"
               class="form-control"
               placeholder="alice@emmail.com"
               id="email" required>
        <label for="fName">First Name</label>
        <input ng-model="model.user.firstName"
               type="text"
               class="form-control"
               placeholder="first name"
               id="fName" required>
        <label for="lName">Last Name</label>
        <input ng-model="model.user.lastName"
               type="text"
               class="form-control"
               placeholder="last name"
               id="lName" required>
    </form>

    <a ng-click="model.logout()" class="btn btn-danger btn-block">
        Logout
    </a>
    
    <a ng-click="model.deleteUser(model.user)"
       class="btn btn-danger btn-block">
        Unregister
    </a>
    <a href="#!/home" class="btn btn-danger btn-block">
        Homepage
    </a>
    <a href="#!/dashboard" class="btn btn-primary btn-block">
        Dashboard
    </a>
    <a href="#!/questionList" class="btn btn-primary btn-block">
        QuestionList
    </a>
    <a href="#!/paperList" class="btn btn-primary btn-block">
        PaperList
    </a>
</div>
</section>
